<!DOCTYPE html>
<html>

<head>
    <title>PRODUCT STOCK</title>
  <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
   
    <meta name="description" content="Ela Admin - HTML5 Admin Template">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/normalize.css@8.0.0/normalize.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/font-awesome@4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/lykmapipo/themify-icons@0.1.2/css/themify-icons.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/pixeden-stroke-7-icon@1.2.3/pe-icon-7-stroke/dist/pe-icon-7-stroke.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/3.2.0/css/flag-icon.min.css">
    <link rel="stylesheet" href="/static/inventory/assets/css/cs-skin-elastic.css">
    <link rel="stylesheet" href="/static/inventory/assets/css/style.css">
    <link rel="stylesheet" href="/static/inventory/assets/css/lib/chosen/chosen.min.css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.css">
    
   <script src=" https://code.jquery.com/jquery-3.5.1.js"></script>

<Script src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></Script>

<Script src="https://cdn.datatables.net/buttons/1.6.2/js/dataTables.buttons.min.js"></Script>
<Script src="https://cdn.datatables.net/buttons/1.6.2/js/buttons.flash.min.js"></Script>
<Script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></Script>
<Script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></Script>
<Script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></Script>
<Script src="https://cdn.datatables.net/buttons/1.6.2/js/buttons.html5.min.js"></Script>
<Script src="https://cdn.datatables.net/buttons/1.6.2/js/buttons.print.min.js"></Script>
<script src="https://cdn.datatables.net/buttons/1.6.2/js/buttons.colVis.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.6.2/js/buttons.print.min.js"></script>

<link rel="stylesheet"  href="https://cdn.datatables.net/1.10.21/css/jquery.dataTables.min.css">
<link rel="stylesheet" href=" https://cdn.datatables.net/buttons/1.6.2/css/buttons.dataTables.min.css">



  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js" integrity="sha256-bqVeqGdJ7h/lYPq6xrPv/YGzMEb6dNxlfiTUHSgRCp8=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css" integrity="sha256-siyOpF/pBWUPgIcQi17TLBkjvNgNQArcmwJB8YvkAgg=" crossorigin="anonymous" />

</head>

<style type="text/css">
body {
    margin: 2em;
}
</style>


</head>

<body>
   <aside id="left-panel" class="left-panel">
        <nav class="navbar navbar-expand-sm navbar-default">
            <div id="main-menu" class="main-menu collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="dashboard"><i class="menu-icon fa fa-laptop"></i>Dashboard </a>
                    </li>
                    <li class="menu-item-has-children dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa   fa-users"></i>CUSTOMER</a>
                        <ul class="sub-menu children dropdown-menu">
                            <li><i class="menu-icon ti-plus"></i><a href="/inventory/customer_add">CUSTOMER ADDITION</a></li>
                            <li><i class="menu-icon ti-marker-alt"></i><a href="/inventory/customer_view">CUSTOMER EDIT</a></li>
                        </ul>
                    </li>
                    <li class="menu-item-has-children dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-user"></i>VENDOR</a>
                        <ul class="sub-menu children dropdown-menu">
                            <li><i class="menu-icon  ti-plus"></i><a href="/inventory/vendor_add">VENDOR ADDITION</a></li>
                            <li><i class="menu-icon ti-marker-alt"></i><a href="/inventory/vendor_view">VENDOR EDIT</a></li>
                        </ul>
                    </li>
                    <li class="menu-item-has-children dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-plus-square-o"></i>PRODUCTS</a>
                        <ul class="sub-menu children dropdown-menu">
                            <li><i class="menu-icon ti-plus"></i><a href="/inventory/product_add">PRODUCT ADDITION</a></li>
                            <li><i class="menu-icon ti-marker-alt"></i><a href="/inventory/product_view">PRODUCT EDIT</a></li>
                        </ul>
                    </li> <li class="menu-item-has-children dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-plus-square-o"></i>PURCHASE</a>
                        <ul class="sub-menu children dropdown-menu">
                            <li><i class="menu-icon ti-plus"></i><a href="/inventory/purchase_add">PURCHASE ADDITION</a></li>
                            <li><i class="menu-icon ti-marker-alt"></i><a href="/inventory/purchase_view">PURCHASE EDIT</a></li>
                        </ul>
                    </li>
                    </li> <li class="menu-item-has-children dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-plus-square-o"></i>REPORTS</a>
                        <ul class="sub-menu children dropdown-menu">
                            <li><i class="menu-icon ti-plus"></i><a href="/inventory/stock_report">STOCK REPORT</a></li>
                            <li><i class="menu-icon ti-marker-alt"></i><a href="/inventory/item_report">ITEM REPORT</a></li><li><i class="menu-icon ti-marker-alt"></i><a href="/inventory/customer_sales_report">CUSTOMER REPORT</a></li>

                        </ul>
                    </li>
                    <li>
                        <a href="/inventory/bill_add"><i class="menu-icon fa fa-file-text-o"></i>BILLING </a>
                        <a href="/inventory/bill_view"><i class="menu-icon fa fa-file-text-o"></i>BILLING EDIT</a>

                    </li>
                    <li>
                        <a href="/inventory/product_stock"><i class="menu-icon fa fa-check-square-o"></i>PRODUCT STOCK </a>
                    </li>
                    
                    <li>
                        <a href="/inventory/purchase_payment"><i class="menu-icon fa fa-check-square-o"></i>PURCHASE PAYMENT</a>
                    </li>
                     <li>
                        <a href="/inventory/payment_add"><i class="menu-icon fa fa-check-square-o"></i>BILL PAYMENT</a>
                    </li>
                    <li>
                        <a href="/inventory/bank"><i class="menu-icon fa fa-check-square-o"></i>BANK DETAILS </a>
                    </li>
                    <li>
                        <a href="/inventory/companydetail"><i class="menu-icon fa fa-check-square-o"></i>COMPANY DETAILS</a>
                    </li>

                </ul>
            </div>
        </nav>
    </aside>
    <div id="right-panel" class="right-panel">
        <!-- Header-->
        <header id="header" class="header">
            <div class="top-left">
                <div class="navbar-header">
                    <!-- <a class="navbar-brand" href="./"><img src="https://i.ibb.co/C8r9qLj/SARASWATHI-ELECTRICAL.jpg" height="100" width="100" alt="Logo"></a>
                     -->
                    <a id="menuToggle" class="menutoggle"><i class="fa fa-bars"></i></a>
                </div>
            </div>
            <div class="top-right">
                <div class="header-menu">
                    <div class="header-left">
                    </div>
                    
                </div>
            </div>
        </header><!-- /header -->
        <!-- Header-->
        <div class="content">
            <div class="row">
                <div class="col">
                    <table border="0" cellspacing="5" cellpadding="5">
                        <tbody>
                            <tr>
                                <td>Minimum Date:</td>
                                <td><input name="min" id="min" type="text" onchange="dates();"></td>
                            </tr>
                            <tr>
                                <td>Maximum Date:</td>
                                <td><input name="max" id="max" type="text" onchange="dates();"></td>
                            </tr>
                        </tbody>
                    </table>
                   
                    {% if key == '1' %}
                    <div class="DataTable table-striped">
                        <table id="example" class="table table-striped table-bordered" style="width:100%;margin-top: 200px;">
          <thead>
                                <tr>
                                    <th>Start date</th>
                                    <th>Product code</th>
                                    <th>Product name</th>
                                    <th>Opening stock</th>
                                    <th>stock</th>
                                    <th>Unit</th>
                                </tr>
                            </thead>
                            <tbody>
                                    
                                                    
                                                    
                                    </tr>
                                    
                                    {% for i in product %}
                                        <tr>
                                            <td>{{i.date}}</td>
                                            <td>{{i.product_code}}</td>
                                            <td>{{i.product_name}}</td>
                                            <td>{{i.opening_stock}}</td>
                                            <td>{{i.stock}}</td>
                                            <td>{{i.unit}}</td>

                                        </tr>
                                        
                                    {% endfor %}
                                 
                            </tbody>
                       
                    
                        </table>
                        
                    </div>
                    {% endif %}
                  <script type="text/javascript">
                             $(document).ready(function(){
                               
        $.fn.dataTable.ext.search.push(
        function (settings, data, dataIndex) {
            var min = $('#min').datepicker("getDate");
            var max = $('#max').datepicker("getDate");
            var startDate = new Date(data[0]);
            if (min == null && max == null) { return true; }
            if (min == null && startDate <= max) { return true;}
            if(max == null && startDate >= min) {return true;}
            if (startDate <= max && startDate >= min) { return true; }
            return false;
        }
        );

       
            $("#min").datepicker({ onSelect: function () { table.draw(); }, changeMonth: true, changeYear: true });
            $("#max").datepicker({ onSelect: function () { table.draw(); }, changeMonth: true, changeYear: true });
            var table = $('#example').DataTable({
                    "dom": 'Bfrtip',
                    "buttons": [
    {
                extend: 'copyHtml5',
                exportOptions: {
                    columns: [ 0, ':visible' ]
                }
            },
            {
                extend: 'excelHtml5',title:"ITEM SALES REPORT",
                exportOptions: {
                    columns: ':visible'
                }
            },
          
             {
                extend: 'pdfHtml5',title:"ITEM SALES REPORT",
                exportOptions: {
                    columns: ':visible'
                }
            },
            {
                extend: 'print',title:"ITEM SALES REPORT",
                exportOptions: {
                    columns: ':visible'
                }
            },


            'colvis','pageLength'                    ]
                });


            // Event listener to the two range filtering inputs to redraw on input
            $('#min, #max').change(function () {
                table.draw();

            });
        });
                      </script>
                    <style>
                        #chartdiv {
  width: 100%;
  height: 500px;
}
</style>
                    <script src="https://www.amcharts.com/lib/4/core.js"></script>
                    <script src="https://www.amcharts.com/lib/4/charts.js"></script>
                    <script src="https://www.amcharts.com/lib/4/themes/material.js"></script>
                    <script src="https://www.amcharts.com/lib/4/themes/animated.js"></script>
                    <script>
                        function grp()
    {   
        // alert('pass')
        // console.log(listvalue)
       am4core.ready(function() {

// Themes begin
am4core.useTheme(am4themes_material);
am4core.useTheme(am4themes_animated);
// Themes end


var chart = am4core.create("chartdiv", am4charts.XYChart);


// for(let data1=0; data1<details_data1.length; data1++)
// {
//     chart.data = [graphvalue[details_data1[data1]['company_name']]]
//     console.log(chart.data)
// }
chart.data = graphvalue



// chart.data = [{
//  "country": "USA",
//  "visits": 2025
// }, {
//  "country": "China",
//  "visits": 1882
// }, {
//  "country": "Japan",
//  "visits": 1809
// }, {
//  "country": "Germany",
//  "visits": 1322
// }, {
//  "country": "UK",
//  "visits": 1122
// }, {
//  "country": "France",
//  "visits": 1114
// }, {
//  "country": "India",
//  "visits": 984
// }, {
//  "country": "Spain",
//  "visits": 711
// }, {
//  "country": "Netherlands",
//  "visits": 665
// }, {
//  "country": "Russia",
//  "visits": 580
// }, {
//  "country": "South Korea",
//  "visits": 443
// }, {
//  "country": "Canada",
//  "visits": 441
// }];

chart.padding(40, 40, 40, 40);

var categoryAxis = chart.xAxes.push(new am4charts.CategoryAxis());
categoryAxis.renderer.grid.template.location = 0;
categoryAxis.dataFields.category = "country";
categoryAxis.renderer.minGridDistance = 60;
categoryAxis.renderer.inversed = true;
categoryAxis.renderer.grid.template.disabled = true;

var valueAxis = chart.yAxes.push(new am4charts.ValueAxis());
valueAxis.min = 0;
valueAxis.extraMax = 0.1;
//valueAxis.rangeChangeEasing = am4core.ease.linear;
//valueAxis.rangeChangeDuration = 1500;

var series = chart.series.push(new am4charts.ColumnSeries());
series.dataFields.categoryX = "country";
series.dataFields.valueY = "visits";
series.tooltipText = "{valueY.value}"
series.columns.template.strokeOpacity = 0;
series.columns.template.column.cornerRadiusTopRight = 10;
series.columns.template.column.cornerRadiusTopLeft = 10;
//series.interpolationDuration = 1500;
//series.interpolationEasing = am4core.ease.linear;
var labelBullet = series.bullets.push(new am4charts.LabelBullet());
labelBullet.label.verticalCenter = "bottom";
labelBullet.label.dy = -10;
labelBullet.label.text = "{values.valueY.workingValue.formatNumber('#.')}";

chart.zoomOutButton.disabled = true;

// as by default columns of the same series are of the same color, we add adapter which takes colors from chart.colors color set
series.columns.template.adapter.add("fill", function (fill, target) {
 return chart.colors.getIndex(target.dataItem.index);
});

setInterval(function () {
 am4core.array.each(chart.data, function (item) {
   item.visits += 0;
   item.visits = Math.abs(item.visits);
 })
 chart.invalidateRawData();
}, 2000)

categoryAxis.sortBySeries = series;

}); // end am4core.ready() 
    }

</script>
                    <!-- HTML -->
                    <div id="chartdiv"></div>
                </div>
            </div>
        </div>
    </div>
   

             <script src="https://cdn.jsdelivr.net/npm/jquery@2.2.4/dist/jquery.min.js"></script>
            <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.4/dist/umd/popper.min.js"></script>
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/js/bootstrap.min.js"></script>
            <script src="https://cdn.jsdelivr.net/npm/jquery-match-height@0.7.2/dist/jquery.matchHeight.min.js"></script>
            <script src="/static/inventory/assets/js/main.js"></script>
            <script src="/static/inventory/assets/js/lib/chosen/chosen.jquery.min.js"></script>
            <script>
                jQuery(document).ready(function() {
        jQuery(".standardSelect").chosen({
            disable_search_threshold: 10,
            no_results_text: "Oops, nothing found!",
            width: "100%"
        });
    });
</script>
      
        </div>

        <form>
</body>

</html>