{% extends "inventory/static.html" %}
{% block body %}


        <div class="container  ">
              
		
			
		 	
		 		
		 	{% if id == None %}

		 		<form method="POST" action="/inventory/bank">
			
			<label for="name">short name:</label>
			<input type="text" name="shortname" id="shortname:" value=""  class="form-control">
			<label for="name">bank name:</label>
			<input type="text" name="bankname" id="bankname:" value=""  class="form-control">
			<label for="name">ifsc code:</label>
			<input type="text" name="ifsccode" id="ifsccode" value=""  class="form-control">
			<label for="name">account number:</label>
			<input type="text" name="accountnumber" id="accountnumber" value="" class="form-control">
			<label for="name">branch:</label>
			<input type="text" name="branch" id="branch" value=""  class="form-control">
		 	<label for="name">name:</label>
		 	<input type="text" name="name" id="name" value=""  class="form-control">
		 	<input   type="submit" name='add' value='add' class="btn btn-secondary" >
		 	{% else %}
		 	<form method="POST" action="/inventory/bankupdate/{{bankedit.id}}">
			
			<label for="name">short name:</label>
			<input type="text" name="shortname" id="shortname:" value="{{bankedit.short_name}}"  class="form-control">
			<label for="name">bank name:</label>
			<input type="text" name="bankname" id="bankname:" value="{{bankedit.bank_name}}"  class="form-control">
			<label for="name">ifsc code:</label>
			<input type="text" name="ifsccode" id="ifsccode" value="{{bankedit.ifsc_code}}"  class="form-control">
			<label for="name">account number:</label>
			<input type="text" name="accountnumber" id="accountnumber" value="{{bankedit.account_no}}" class="form-control">
			<label for="name">branch:</label>
			<input type="text" name="branch" id="branch" value="{{bankedit.branch}}"  class="form-control">
		 	<label for="name">name:</label>
		 	<input type="text" name="name" id="name" value="{{bankedit.account_holder_name}}"  class="form-control">
		 	<input   type="submit" name='update' value='update' class="btn btn-secondary" >
		 	{% endif %}

			</form>

			<table class="table table-bordered">
			<thead>
				<tr>
                    <th>short name</th>
					<th>bank name</th>
					<th>ifsc code</th>
					<th>account number</th>
					<th>branch</th>
					<th>name</th>
					<th>edit</th>
					<th>delete</th>
                    
				</tr>
			</thead>

			<tbody>
				{% for i in bankdetails %}
				
				
					<tr>
						<!-- <td>{{i.id}}</td> -->
					<td>{{i.short_name}}</td>
					<td>{{i.bank_name}}</td>
					<td>{{i.ifsc_code}}</td>
					<td>{{i.account_no}}</td>
					<td>{{i.branch}}</td>
					<td>{{i.account_holder_name}}</td>
				    <td><a href="/inventory/bankedit/{{i.id}}">edit</a></td>
				    <td><a href="/inventory/bankdelete/{{i.id}}">add</a></td>
				   
				  {% endfor %}
				</tr>
			</tbody>
		</table>
	</form>
</tbody>
</table>
</form>
</div>
</div>

     
            



             
</script>
            <center><button type="submit" class="btn btn-primary btn-sm">
                    <i class="fa fa-dot-circle-o"></i> ADD
                </button></center>
        </div>

        <form>
{% endblock %}