{% extends "inventory/static.html" %}
{% block body %}



        <div class="content">
            <div class="row">
                <div class="col">
                    <table id="example" class="table table-striped table-bordered" style="width:100%">
        <thead>
            <tr>
                <th>bill date</th>
                <th>invoice no</th>
                <th>bill</th>
                <th>due date</th>
                <th>company name</th>
                <th>address</th>
                <th>shipping address</th>
                <th>gst number</th>
                <th>total</th>
                <th>cgst</th>
                <th>sgst</th>
                <th>igst</th>
                <th>grand total</th>
                <th>EDIT</th>
                <th>DELETE</th>
            </tr>
        </thead>
        <tbody>
            {% for i in bill_list %}
            <tr>
                <td>{{i.date}}</td>
                <td>{{i.invoice_no}}</td>
                <td>{{i.bill}}</td>
                <td>{{i.due_date}}</td>
                <td>{{i.company_name}}</td>
                <td>{{i.address}}</td>
                <td>{{i.shipping}}</td>
                <td>{{i.gst}}</td>
                <td>{{i.total}}</td>
                <td>{{i.cgst}}</td>
                <td>{{i.sgst}}</td>
                <td>{{i.igst}}</td>
               
                <td>{{i.grand_total}}</td>
                <td><a href="/inventory/bill_edit/{{i.id}}"><button class="btn"><i class="fa fa-pencil"></i></button></a>
</td>
                <td><a href="/inventory/bill_delete/{{i.id}}"><button class="btn"><i class="fa fa-trash"></i></button></a>
</td>

            </tr>
            {% endfor %}
           
        </tbody>

     
    </table>
    <script type="text/javascript">
        $(document).ready(function() {
    $('#example').DataTable( {
        dom: 'Bfrtip',
        buttons: [
            'copy', 'csv', 'excel', 'pdf', 'print'
        ]
    } );
} );
    </script>
                </div>
            </div>
           
    

     {% endblock %}