 
{% extends "inventory/static.html" %}
{% block body %}


        <div class="content">
            <div class="container-fluid">
                <form method="POST" action="/inventory/companydetail" onsubmit="return validateForm()">
                    {% if key=='new' %}
                    <label type="label" for="company_name">company name:</label>
                    <input type="text" name="company_name" id='company_name' class="form-control">
                    <label type="label" for="address1">address1:</label>
                    <textarea type="text" name="address1" id='address1' class="form-control"></textarea>
                    <label type="label" for="address2">address2:</label>
                    <textarea type="text" name="address2" id='address2' class="form-control"></textarea>
                    <label type="label" for="state">state:</label>
                    <input type="text" name="state" id='state' class="form-control">
                    <label type="label" for="pincode">pincode:</label>
                    <input type="text" name="pincode" id='pincode' class="form-control">
                    <label type="label" for="mobilenumber">mobilenumber:</label>
                    <input type="text" name="mobilenumber" id='mobilenumber' class="form-control">
                    <label type="label" for="faxnumber">faxnumber:</label>
                    <input type="text" name="faxnumber" id='faxnumber' class="form-control">
                    <label type="label" for="phonenumber">phonenumber:</label>
                    <input type="text" name="phonenumber" id='phonenumber' class="form-control">
                    <label type="label" for="email">email:</label>
                    <input type="text" name="email" id='email' class="form-control">
                    <label type="label" for="website">website:</label>
                    <input type="text" name="website" id='website' class="form-control">
                    <label type="label" for="branchcode">branchcode:</label>
                    <input type="text" name="branchcode" id='branchcode' class="form-control">
                    <label type="label" for="gstin">gstin:</label>
                    <input type="text" name="gstin" id='gstin' class="form-control">
                    <label type="label" for="satecode">satecode:</label>
                    <input type="text" name="satecode" id='satecode' class="form-control">
                    <label type="label" for="proverb">proverb:</label>
                    <input type="text" name="proverb" id='proverb' class="form-control">
                    <label type="label" for="target">target:</label>
                    <input type="text" name="target" id='target' class="form-control">
                    <input type="submit" class="btn btn-primary" name="ADD" value="ADD">
                    {% else %}
                    <label type="label" for="company_name">company name:</label>
                    <input type="text" name="company_name" id='company_name' value="{{cmpy.companyname}}" class="form-control">
                    <label type="label" for="address1">address1:</label>
                    <textarea type="text" name="address1" id='address1' value="{{cmpy.address1}}" class="form-control">{{cmpy.address1}}</textarea>
                    <label type="label" for="address2">address2:</label>
                    <textarea type="text" name="address2" id='address2' value="{{cmpy.address2}}" class="form-control">{{cmpy.address2}}</textarea>
                    <label type="label" for="state">state:</label>
                    <input type="text" name="state" id='state' value="{{cmpy.state}}" class="form-control">
                    <label type="label" for="pincode">pincode:</label>
                    <input type="text" name="pincode" id='pincode' value="{{cmpy.pincode}}" class="form-control">
                    <label type="label" for="mobilenumber">mobilenumber:</label>
                    <input type="text" name="mobilenumber" id='mobilenumber' value="{{cmpy.mobilenumber}}" class="form-control">
                    <label type="label" for="faxnumber">faxnumber:</label>
                    <input type="text" name="faxnumber" id='faxnumber' value="{{cmpy.faxnumber}}" class="form-control">
                    <label type="label" for="phonenumber">phonenumber:</label>
                    <input type="text" name="phonenumber" id='phonenumber' value="{{cmpy.phonenumber}}" class="form-control">
                    <label type="label" for="email">email:</label>
                    <input type="text" name="email" id='email' value="{{cmpy.email}}" class="form-control">
                    <label type="label" for="website">website:</label>
                    <input type="text" name="website" id='website' value="{{cmpy.website}}" class="form-control">
                    <label type="label" for="branchcode">branchcode:</label>
                    <input type="text" name="branchcode" id='branchcode' value="{{cmpy.branchcode}}" class="form-control">
                    <label type="label" for="gstin">gstin:</label>
                    <input type="text" name="gstin" id='gstin' value="{{cmpy.gst}}" class="form-control">
                    <label type="label" for="satecode">statecode:</label>
                    <input type="text" name="satecode" id='satecode' value="{{cmpy.statecode}}" class="form-control">
                    <label type="label" for="proverb">proverb:</label>
                    <input type="text" name="proverb" id='proverb' value="{{cmpy.proverb}}" class="form-control">
                    <label type="label" for="target">target:</label>
                    <input type="text" name="target" id='target' value="{{cmpy.target}}" class="form-control">
                    <input type="hidden" name="id" id='id' value="{{cmpy.id}}" class="form-control">
                    <input type="submit" class="btn btn-danger" name="UPDATE" value="UPDATE">
                    {% endif %}
                    <br />
                </form>
                <br />
            </div>
        </div>
    </div>
 {% endblock %}