{% extends "inventory/static.html" %}

{% block body %}
    <div class="container">
<table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>date</th>
                                <th>check date</th>
                                <th>details</th>
                                <th>status</th>
                                <th>reference</th>
                                <th>payment mode</th>
                                <th>notes</th>
                                <th>depositto</th>
                                <th>paid amount</th>
                                <th>EDIT</th>
                                <th>DELETE</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                {% for i in payment_records %}
                                
                                <td>{{i.date}}</td>
                                <td>{{i.check_date}}</td>
                                <td>{{i.details}}</td>
                                <td>{{i.status}}</td>
                                <td>{{i.referenece}}</td>
                                <td>{{i.payment_mode}}</td>
                                <td>{{i.notes}}</td>
                                <td>{{i.deposit_to}}</td>
                                <td>{{i.paid_amount}}</td>
                                
                                    {% if i.active_status == 1 %}
                                    <form method="POST" action="/inventory/payment_record_edit?id={{i["id"]}}">
                                    <td><input type="submit" name='delete' value="delete" class="btn btn-secondary"></button></td>
                                </form>
                                    <!-- {% elif i.active_status == 2%}
                                    <td><input type="submit" name='delete' value="delete" class="btn btn-secondary"></button></td> -->
                                    {% elif i.active_status == 2%}
                                    <form method="POST" action="/inventory/payment_record_edit?id={{i["id"]}}">
                                    <td><input type="submit" name='delete' value="delete" class="btn btn-secondary"></button></td>
                                </form>
                                    {% else %}
                                    <form method="POST" action="/inventory/payment_record_edit?id={{i["id"]}}">
                                    <td><input type="submit" name='paid' value='paid' class="btn btn-secondary"></button></td>
                                    <td><input type="submit" name='cancel' value='cancel' class="btn btn-secondary"></button></td>
                                    <td><input type="submit" name='delete' value="delete" class="btn btn-secondary"></button></td>
                                </form>
                                    {% endif %}
                                
                                </td>
                                <!--<td>
                            <form method="POST" action="/inventory/purchase_order_remove_item">

                                <button class="btn btn-danger" type="submit">REMOVE ITEM</button>
                            </form>
                        </td>
                        -->
                            </tr>
                            
                            {% endfor %}
                           
                        </tbody>
                    </table>

            <center><button type="submit" class="btn btn-primary btn-sm">
                    <i class="fa fa-dot-circle-o"></i> ADD
                </button></center>
        </div>

        <form>
{% endblock %}